
.premier{
    display: flex;
    flex-direction: row;
    
}

body {
    background: #FFD9D9;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
    }
    form div {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 83px;
        margin-top: 25px;
        }
        
        form div > label {
        margin-bottom: 7px;
        font-weight: 600;
        font-weight: bold;
        color: #303030;

    }
        
input{
    border-radius: 8px;
}

button{
    background-color: #303030;
    border-radius: 8px;
    height: 50px;
    width: 80px;
    font-weight: bold;
}