
h1{
    color: gray;
    text-align: center;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 30vh;
    width: 100%vw;
    background-color: gray;

}
nav a {
    text-decoration: none;
    color: black;
    
}
