<<<<<<< HEAD

=======
>>>>>>> 6887273adf903d2ac389129ce82a9208374cfe1e
h1{
    color: gray;
    text-align: center;

}
<<<<<<< HEAD
=======

>>>>>>> 6887273adf903d2ac389129ce82a9208374cfe1e
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 30vh;
    width: 100%vw;
    background-color: gray;

}
nav a {
    text-decoration: none;
    color: black;
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 6887273adf903d2ac389129ce82a9208374cfe1e
